.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 8 px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding:10px;
  background: #fff;
  margin: 15px 0;
  width: 100%;
  transition: all 0.2s ease-in-out;

  &__check {
    cursor: pointer;
  }

  &__name {
    font-weight: 600;
  }

  &__trash {
    width:25px;
    height: 25px;
    cursor: pointer;
  }

  &--done {
    background-color: #c2c2c2;

    & > .todo__name {
      text-decoration: line-through;
    }
  }
}
